@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(../css/root.css);
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

.max-w-1440{
    max-width: 1440px;
}
.backgroundimg-1 {
    background-image: url(../imags/hdrbgpic.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

.backgroundimg-2 {
    background-image:url(../imags/bgimg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;

}
.backgroundimg-3 {
    background-image:url(../imags/crdbgpic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

.backgroundimg-5 {
    background-image:url(../imags/onkbgpic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
.nav_bg{
    background-color: var(--l-green);

}
.gap-32{
    gap: 32px;
}
.gap-29{
    gap: 29px;
}
.nav-py{
    padding-top: 30px;
    padding-bottom: 30px;
}


.textanimation:hover {
    color: var(--c-white);
}
.text-justify {
    text-align: justify;
}
.hoverline {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.hoverline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background:var(--c-white);
    transition: all 300ms linear;
}

.hoverline:hover::after {
    width: 100%;
}
.max-w-582{
    max-width: 582px;
}
.pt-137{
    padding-top: 137px;
}
.pb-23{
    padding-bottom: 23px;
}
.pb-35{
    padding-bottom: 35px;
}
.btn-1{
    border-radius: 100px;
     background:var(--d-green);
     border-style: none;
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 28px;
     padding-right: 28px;
     border: 1px solid transparent;
}
.btn-1:hover{
    color: var(--c-white);
    background: transparent;
    backdrop-filter: 30px;
    background-color: var(--d-gray);
    border: 1px solid var(--d-green);
}
.max-w-1036{
    max-width: 1036px;
}
.pb-16{
    padding-bottom: 16px;
}
.max-w-1140{
    max-width: 1140px;
}
.pt-103{
    padding-top: 103px;
}
.pb-226{
    padding-bottom: 226px;
}

.max-w-527{
    max-width: 527px;
}
.max-w-511{
    max-width: 511px;
}
.pb-10{
    padding-bottom: 10px;
}
.max-w-507{
    max-width: 507px;
}
.frst-2{
    right: 0;
}
.max-w-628{
    max-width: 628px;
}
.pb-40{
    padding-bottom: 40px;
}
.ccrd-box{
   max-width: 369px;
    border-radius: 16px;
    border: 1px solid #FFFFFF29;
    padding: 40px 22px 64px 18px;
    transition: all linear 300ms;
}
.ccrd-box:hover {
    border: 1px solid var(--d-green);
}
.max-w-319{
    max-width: 319px;
}
.mini-box{
    border-radius: 56px;
   width: 56px;
   height: 56px;
    background-color: #233013;
}
.pt-20{
    padding-top: 20px;
}

.max-w-328{
    max-width: 328px;
}
.gap-16{
    gap: 16px;
}
.pt-89{
    padding-top: 89px;
}
.pb-79{
    padding-bottom: 79px;
}
.max-w-507{
    max-width: 507px;
}
.greencrcle-4{
    top: -40%;
    left: 0;
}
.max-w-1152{
    max-width: 1152px;
}
.max-w-513{
    max-width: 513px;
}
.bodr-lft{
    Border: 0px, 0px, 0px, 1.5px;
    border-left: 1.5px solid;

border-image-source: linear-gradient(97.95deg, rgba(186, 255, 0, 0.6) 3.73%, rgba(0, 178, 254, 0.6) 113.03%);
}
.pb-79{
    padding-bottom: 79px;
}
.max-w-1107{
    max-width: 1107px;
}
.max-w-725{
    max-width: 725px;
}
.max-w-308{
    max-width: 308px;
}
.inputbox{
    border-radius: 24px;
    background: linear-gradient(97.95deg, rgba(186, 255, 0, 0.03) 3.73%, rgba(0, 178, 254, 0.03) 113.03%),
linear-gradient(0deg, rgba(186, 255, 0, 0.02), rgba(186, 255, 0, 0.02));
border: 1px solid #FFFFFF29;
padding-top: 64px;
padding-bottom: 64px;
}
.max-w-680{
    max-width: 680px;
}
.max-w-1045{
    max-width: 1045px;
}
.max-w-373{
    max-width: 373px;
}
.pb-43{
    padding-bottom: 43px;
}
.max-w-1036{
    max-width: 1036px;
}

.hdr-black {
    background-image: url(../images/hero_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.gradient_hero {
    min-height: 126px;
    width: 100%;
    bottom: 0 !important;
    background: linear-gradient(180deg, rgba(12, 12, 12, 0.44) 25.4%, rgba(17, 17, 16, 0.29) 25.4%, #0C0C0C 70.63%);
}

.one-k-box {
    border: 1px solid var(--bdr2);
    max-width: 1036px !important;
    border-radius: 24px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 36px 75px 35px 40px;
}
.backgroundimg-6 {
    background-image:url(../imags/onkbgpic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.pt-31{
    padding-top: 31px;
}
.pb-60{
    padding-bottom: 60px;
}
.green-lin {
    border-left: 2px solid var(--d-green);
}
.pb-140{
    padding-bottom: 140px;
}
.pt-30{
    padding-top: 30px;
}

.pt-60{
    padding-top: 60px;
}
.pb-71{
    padding-bottom: 71px;
}
.max-w-1045{
    max-width: 1045px;
}
.pb-50{
    padding-bottom: 50px;
}

.max-w-725{
    max-width: 725px;
}
.pb-32{
    padding-bottom: 32px;
}
.max-w-628{
    max-width: 628px;
}
.input_box {
    border: 1px solid #FFFFFF29;
    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
}
.p-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.backgroundimg-9 {
    background-image:url(../imags/input-bgimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
.gap-10{
    gap: 10px;
}

.frthrilps-11 {
    right: 0;
    top: -40%;
}
.globelps-12 {
    left: 0;
    bottom: -50%;
}
.midglopelps{
    bottom:-35%;
}
.gap-12{
    gap: 12px;
}

.pb-18{
    padding-bottom: 18px;
}
.pb-12{
    padding-bottom: 12px;
}
.mt-62 {
    margin-top: 62px;
}

.cursor-pointer {
    cursor: pointer;
}

.gray-line {
    border: 0.5px solid var(--d-gray);
}
.p-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pb_12 {
    padding-bottom: 12px;
}
.formdiv {
    padding: 3px;
    max-width: 518px;
    width: 100%;
    border-radius: 48px;
    border: 1px solid var(--d-green);
}


.light_black {
    background-image: url(../imags/hero_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (max-width:992px) {
    .menuList {
        flex-direction: column;
        justify-content: center;
        display: flex !important;
        position: fixed;
        align-items: center !important;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        /* height: 100%; */
        z-index: 10;
        /* background: var(--color-black) !important; */
        background: black !important;
        transition: all 400ms linear;
    }

    .menuList.active {
        right: 0;
    }

    .menuIcon {
        height: 25px;
        width: 30px;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100;
        /* right: 3%; */
        /* position: absolute; */
    }

    .bar1 {
        width: 100% !important;
        /* margin-left: 14px !important; */
    }

    .bar3 {
        width: 100% !important;
    }

    .menuIcon span {
        height: 3px;
        z-index: 44;
        width: 100%;
        display: block;
        background-color:var(--d-green);
    }

    .menuIcon.active .bar2 {
        opacity: 0 !important;
    }

    .menuIcon.active .bar1 {
        transform: translateY(10px) rotate(45deg);
        width: 24px !important;
        margin-left: 0 !important;
    }

    .menuIcon.active .bar3 {
        transform: translateY(-8px) rotate(-46deg);
        width: 24px !important;
    }


    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px 0;
        transition: all 0.3s ease-in-out;
        /* background-color:var(c-white); */

    }

    .img-box {
        border: 1px solid rgba(0, 0, 0, 0.20);
        width: 119px;
        padding: 19px 27px 14px 28px;
    }

}
@media (max-width:576px) {

    .logo-width {
        max-width: 180px;
    }
    .one-k-box {
        padding: 36px 24px 35px 40px;
    }
    .pb-140{
        padding-bottom: 0px;
    }
    .formdiv {
        padding: 16px;
    }
}
